.articles{
    grid-column: 1/3;
}

.articles h1,
.profiles h1{
    margin-bottom: 12px;
}

.singleArticle{
    position: relative;
    background-color: #e9ecef;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 24px;
    transition: background 0.3s ease;
}

.singleArticle:hover{
    background-color: rgba(206, 212, 218, 0.671);
}

.singleArticle__image{
    width: 90px;
    height: 90px;
    background-color: #ced4da;
    border-radius: 12px;
    margin-right: 32px;
    overflow: hidden;
}

.singleArticle__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singleArticle__content{
    flex: 1;
}

.singleArticle__meta h2{
    margin-bottom: 12px;
    max-width: 400px;
}

.singleArticle__meta p{
    margin-bottom: 2px;
    color: var(--react-black);
}

.singleArticle__meta small{
    color: #1f232a88;
}

.singleArticle__cta{
    height: 100%;
}

.singleArticle__stats p{
    margin-left: 12px;
}

.profiles{
    grid-column: 3/4;
}

.singleProfileItem{
    padding: 12px 32px 12px 12px;
    border-radius: 50px;
    margin-bottom: 0px;
    transition: background 0.3s ease;
}

.singleProfileItem:hover{
    background-color: #e9ecef;
}

.singleProfileItem__profileImage{
    min-width: 56px;
    min-height: 56px;
    margin-right: 24px;
    background-color: #ced4da;
    border-radius: 50%;
}
.singleProfileItem__content{
    width: 100%;
}

.singleProfileItem__content div:last-child{
    align-self: flex-end;
    font-size: 12px;
}


.singleProfileItem__content div:first-child h3{
    font-weight: 500;
    text-transform: capitalize;
}
.singleProfileItem__content div:first-child span{
    font-size: 12px;
}