@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 500;   
}

body{
    color: var(--react-black);
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --react-blue: #60dafb;
    --react-black: #1F232A;
    --react-white: #ffffff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: unset;
}

.content--container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 64px 24px;
}

.smallContent--container{
    max-width: 750px;
    margin: 0 auto;
    padding: 120px 24px;
}

/* flexbox classes*/
.flex-box{
    display: flex;
}

.ai-center{
    align-items: center;
}

.ai-start{
    align-items: flex-start;
}

.ai-end{
    align-items: flex-end;
}

.jc-center{
    justify-content: center;
}

.jc-start{
    justify-content: flex-start;
}

.jc-end{
    justify-content: flex-end;
}

.jc-space{
    justify-content: space-between;
}

.flex-dir-col{
    flex-direction: column;
}

.flex-dir-row{
    flex-direction: row;
}

.flex-25{
    flex: 0.25;
}

.flex-50{
    flex: 0.5;
}

form{
    display: flex;
    flex-direction: column;
}

form .btn--blue{
    margin-bottom: 42px;
}

.inputField{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.inputField label{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}

.inputField input{
    padding: 16px 24px;
    outline: none;
    border: none;
    background-color: #1f232a2a;
    border-radius: 50px;
    border: 2px solid #1f232a2a;
    font-size: 18px;
    color: var(--react-black);
}
.inputField input:focus{
    border: 2px solid #1f232a69;

}
.btn{
    align-self: center;
    padding: 18px 42px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease;
    border: none;
    outline: none;
    min-width: 150px;
}

.btn.blue{
    background: var(--react-black);
    color: var(--react-blue);
    margin-bottom: 24px;


}

.btn.google{
    border: 2px solid var(--react-black);
    font-size: 16px;
    padding: 12px 32px;

}

.divider{
    width: 80%;
    margin: 12px auto;
    height: 1px;
    background: #1f232a69;

}

.btn.google svg{
    margin-right: 8px;
}

.btn.blue:hover {
    background: #1f232aef;
}

.authHeader{
    margin-bottom: 42px;
}

.authHeader h1{
    font-size: 48px;
    margin-bottom: 4px;
}

.authHeader span{
    color: #1f232a69;
}

.authHeader span a{
    color: var(--react-black);
}

.authHeader span a:hover{
    border-bottom: 1px solid var(--react-blue);
}



/* grid */
.grid{
    display: grid;
}

.col-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
}

/* assets sizes (icons, images) */
.reactLogo--medium{
    width: 42px;
    height: 42px;
}

.icon--small{
    font-size: 28px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

a .icon--small:hover{
    background-color: rgba(0, 0, 0, 0.3)
}

.icon--extraSmall{
    font-size: 16px;
}

/* loading */
.donutSpinner {
    display: inline-block;
    border: 3px solid #1f232a2a;
    border-left-color: var(--react-blue);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1.2s linear infinite;
}

.donutSpinner--container{
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

