@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;   
}

body{
    color: var(--react-black);
}

strong{
    font-weight: 700;
}

blockquote{
    border-left: 5px solid #1F232A;
    font-size: 18px;
    padding-left: 12px;
}

hr{
    margin: 32px 0;
}

figure table{
    border: 1px solid #1F232A;
    border-collapse: collapse;
}

figure table td{
    padding: 16px;
    border: 1px solid #1F232A;
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --react-blue: #60dafb;
    --react-black: #1F232A;
    --react-white: #ffffff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: unset;
}

.content--container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 64px 24px;
}

.smallContent--container{
    max-width: 750px;
    margin: 0 auto;
    padding: 120px 24px;
}

/* flexbox classes*/
.flex-box{
    display: flex;
}

.ai-center{
    align-items: center;
}

.ai-start{
    align-items: flex-start;
}

.ai-end{
    align-items: flex-end;
}

.jc-center{
    justify-content: center;
}

.jc-start{
    justify-content: flex-start;
}

.jc-end{
    justify-content: flex-end;
}

.jc-space{
    justify-content: space-between;
}

.flex-dir-col{
    flex-direction: column;
}

.flex-dir-row{
    flex-direction: row;
}

.flex-25{
    flex: 0.25;
}

.flex-50{
    flex: 0.5;
}

form{
    display: flex;
    flex-direction: column;
}

form .btn--blue{
    margin-bottom: 42px;
}

.inputField{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.inputField label{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}

.inputField input,
.inputField textarea{
    padding: 12px 12px;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #c4c4c4;
    font-size: 18px;
    color: var(--react-black);
}

.inputField .ck-content{
    min-height: 200px;
}

.inputField .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
    border: 1px solid #1f232a69 ;
    outline: none;
    box-shadow: none;
}

.inputField input:focus{
    border: 2px solid #1f232a69;

}

.btn{
    align-self: center;
    padding: 18px 42px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease;
    border: none;
    outline: none;
    min-width: 150px;
}

.btn.blue{
    background: var(--react-black);
    color: var(--react-blue);
    margin-bottom: 24px;


}

.btn.google{
    border: 2px solid var(--react-black);
    font-size: 16px;
    padding: 12px 32px;

}

.divider{
    width: 80%;
    margin: 12px auto;
    height: 1px;
    background: #1f232a69;

}

.errorMessage {
    color: red;
    margin-bottom: 12px;
}

.btn.google svg{
    margin-right: 8px;
}

.btn.blue:hover {
    background: #1f232aef;
}

.editButton{
    font-size: 24px;
    border: 0;
    background-color: transparent;
    color: var(--react-blue);
    cursor: pointer;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.likeBtn,
.removeBtn,
.editBtn{
    padding: 4px 12px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    outline: none;
    border: 2px solid transparent;
}

.btn__container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.editBtn{
    background-color: var(--react-blue);
    width: fit-content;
}

.removeBtn{
    background-color: rgb(221, 19, 19);
    color: var(--react-white);
}

.likeBtn.outlined{
    border: 2px solid var(--react-black);
}

.likeBtn.filled{
    background-color: var(--react-black);
    color: var(--react-blue);
}

.likeBtn svg,
.removeBtn svg,
.editBtn svg{
    margin-right: 4px;
}

.backBtn{
    margin-bottom: 12px;
    color: var(--react-blue);
}

.backBtn svg{
    margin-right: 12px;
    transition: 0.3s ease;
}

.backBtn:hover svg{
    margin-right: 4px;
}

.authHeader{
    margin-bottom: 42px;
}

.authHeader h1{
    font-size: 48px;
    margin-bottom: 4px;
}

.authHeader span{
    color: #1f232a69;
}

.authHeader span a{
    color: var(--react-black);
}

.authHeader span a:hover{
    border-bottom: 1px solid var(--react-blue);
}

.userImage{
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    margin-right: 32px;
    background-color: #ced4da;
    overflow: hidden;
}

.userImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* grid */
.grid{
    display: grid;
}

.col-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
}

/* assets sizes (icons, images) */
.reactLogo--medium{
    width: 42px;
    height: 42px;
}

.icon--small{
    font-size: 28px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

a .icon--small:hover{
    background-color: rgba(0, 0, 0, 0.3)
}

.icon--extraSmall{
    font-size: 16px;
}

.articles{
    grid-column: 1/3;
}

.articles h1,
.profiles h1{
    margin-bottom: 12px;
}

.singleArticle{
    position: relative;
    background-color: #e9ecef;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 24px;
    transition: background 0.3s ease;
}

.singleArticle:hover{
    background-color: rgba(206, 212, 218, 0.671);
}

.singleArticle__image{
    width: 90px;
    height: 90px;
    background-color: #ced4da;
    border-radius: 12px;
    margin-right: 32px;
    overflow: hidden;
}

.singleArticle__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singleArticle__content{
    flex: 1;
}

.singleArticle__meta h2{
    margin-bottom: 12px;
    max-width: 400px;
}

.singleArticle__meta p{
    margin-bottom: 2px;
    color: var(--react-black);
}

.singleArticle__meta small{
    color: #1f232a88;
}

.singleArticle__cta{
    height: 100%;
}

.singleArticle__stats p{
    margin-left: 12px;
}

.ArticleBody{
    margin-bottom: 32px;
}

.profiles{
    grid-column: 3/4;
}

.singleProfileItem{
    padding: 12px 32px 12px 12px;
    border-radius: 50px;
    margin-bottom: 0px;
    transition: background 0.3s ease;
}

.singleProfileItem:hover{
    background-color: #e9ecef;
}

.singleProfileItem__profileImage{
    max-width: 56px;
    max-height: 56px;
    min-width: 56px;
    min-height: 56px;
    margin-right: 24px;
    background-color: #ced4da;
    border-radius: 50%;
    overflow: hidden;
}

.singleProfileItem__profileImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.singleProfileItem__content{
    width: 100%;
}

.singleProfileItem__content div:last-child{
    align-self: flex-end;
    font-size: 12px;
}


.singleProfileItem__content div:first-child h3{
    font-weight: 500;
    text-transform: capitalize;
}
.singleProfileItem__content div:first-child span{
    font-size: 12px;
}

/* loading */
.donutSpinner {
    display: inline-block;
    border: 3px solid #1f232a2a;
    border-left-color: var(--react-blue);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1.2s linear infinite;
}

.donutSpinner--container{
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

